.img-bg{
    
    background-image: url("./images/bg-desktop-dark.jpg");
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-card{
    width: 100%;
    display: flex;
    justify-content: center;
    
   
  

}
body{
    color: white;
}

.todo-input{
    height: 100px;
    width: 35%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 10px;
    
}
.todo-item{

    position:relative; 
    z-index: 2;
    top: -70px;
    background-color:hsl(237, 14%, 26%);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;
    border-top-right-radius:5px;
    border-top-left-radius: 5px; 
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;  
    overflow: scroll;
 
}
.title-bx{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
input{
    background-color:hsl(237, 14%, 26%);
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid;
    height: 40px;
}

.item{
    background-color:hsl(237, 14%, 26%);
    width: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;

}

.icon-circle{
    transition-duration: 0.4s;
    cursor: pointer;
    height: 20px; 
    width: 20px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:    hsl(237, 14%, 26%);
    border: 1px solid  rgb(165, 94, 251);
    
} 
  .icon-circle:hover {
    background: linear-gradient(243deg, rgb(6, 126, 237) 0%, rgb(157, 24, 177) 76%, rgb(0, 208, 250) 100%);
    color: white;
  }


.icons{
    padding: 5px; 
}

p{
    margin: 0px;
    padding: 0px;
}

.strikethrough {
    text-decoration: line-through;
  }

  .last-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color:    hsl(237, 14%, 26%);

    top:100px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;  
}
 

.last-item-text{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
    align-items: center;
    width: 30%;

}
 .last-item p {
    font-size: small;
    

 }